@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "header";

body {
  margin: 0;
  font-family: $helvetica;
}

.wrapper {
  @include outer-container(1024px);
}

.content {
  margin-top: 15px;
}

.user-form {
  @include span-columns(4);
  @include shift(4);
}

.comment-form {
  @include outer-container;
  .body {
    @include span-columns(10);
  }
  .send {
    @include span-columns(2);
  }
}

.small-center {
  @include span-columns(2);
  @include shift(5);
  float: none;
}
